/*----------------------------
-----------HEADER-------------
----------------------------*/


#headerNews{
	width : inherit;
	padding : 32px 0% 32px 0%;
	background : url(./../images/banner/terroir.jpg) center;
	max-width: 1200px;
	margin: auto;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9),  0px 0px 3px rgba(0, 0, 0, 1),  0px 0px 1px rgba(0, 0, 0, 1);
	text-align: center;
	background-size: 100%;

}


.banniere_actualite{
	max-width: 100%;
	margin: auto;
	width : inherit;
	padding : 32px 0% 32px 0%;
	align-items: center;
}

/*----------------------------
------------NEWS--------------
----------------------------*/

/*----en-tête articles*/
#headArt {
	width: inherit;
	flex: row;
	align-items: center;
	background-color: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	max-width: 230px;
}

.actualite{
	border-color: rgb(32,32,32);
	border-width: 1px;
	border-radius: 12px;
	border-style: dashed;
	display: flex;		/*tous les blocs (li)s'alignent s'il le peuvent*/
	flex-flow: column wrap;	/*row : allignement horizontal, wrap : les blocs se mettent les uns en dessous des autres en cas de manque de place (responsive web)*/
	justify-content: space-around;	/*espacement entre chaque div et avant et après*/
	align-items: center;
	margin: 5px 5px 5px 5px;
    max-width: 356px;
    min-width: 250px;
    position: relative;
    width: 356px;
}


@media screen and (max-width: 767px){
	.actualite {
	    margin-left: auto;
	    margin-right: auto;
	}
}

/*------images--*/
.imgArt{
	width : inherit;
	align-items: center;
	margin-bottom: 15px;
	position: relative;
	display: flex;
	justify-content: space-around;
	max-width: 300px;
	min-width: 150px;

}

/*---text sous l'image--*/
#textArt{
	width: inherit;
	text-transform: justify;
	position: relative;
	margin: auto;
	color : grey;
	max-width: 120px;
}

/*pied d'articles*/
#piedpage{
	width: inherit;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	font-style: italic;
	background-color: #B3B6B7;
	text-align: center;
	margin: auto;
}

.bouton{align-items: center}


