/* Halle au frais css */


h1 {text-transform : capitalize}

.whoweare h1 {text-align: center}

.whoweare li {
	list-style : none;
	text-align : center;
}

@media screen and (min-width: 480px) {.whoweare .saisie {width : 385px}}
@media screen and (max-width: 480px) {.whoweare .saisie {width : 100%}}

.whoweare .msg {width : 100%}

.slider.content{
  max-width: 1270px;
  position: relative;
  display: block;
  margin: auto;
}

.mySlides{
	max-height: 230px;
  display: block;
}

.slider img{
  	width: 100%;
  	height: 100%;
  	display: block;
}

.fleche_gauche, .fleche_droite {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  top: 35%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.fleche_droite {
	right: 0;
}

.fleche_gauche:hover, .fleche_droite:hover {
  background-color: rgba(0,0,0,0.8);
}

.button {
	cursor: pointer;
	border-radius: 4px;
	font-size: 28px;
	font-style: bold;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  border: none;
  padding: 15px;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: auto;
}

.l1{
	margin-top: 15px;
	margin-bottom: 5px;
}

.colonne {
	margin-left: auto;
	margin-right: auto;
	width: 610px;
}

.texte {
	color: #ffffff;
	font-weight: bold;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.button.primeurs {
	background-image: url(../images/primeurs.png);
}

.button.primeurs:hover {
	opacity: 0.8;
}

.button.rotissiers {
	background-image: url(../images/rotissiers.png);

}

.button.rotissiers:hover {
	opacity: 0.7;
}

.button.poissonniers {
	background-image: url(../images/poissonniers.png);

}

.button.poissonniers:hover {
	opacity: 0.7;
}

.button.fromagers {
	background-image: url(../images/fromagers.png);

}

.button.fromagers:hover {
	opacity: 0.7;
}

.button.epiciers {
	background-image: url(../images/epiciers.png);

}

.button.epiciers:hover {
	opacity: 0.7;
}

.button.traiteurs {
	background-image: url(../images/traiteurs.png);

}

.button.traiteurs:hover {
	opacity: 0.7;
}

.button.bouchers {
	background-image: url(../images/bouchers.png);

}

.button.bouchers:hover {
	opacity: 0.7;
}

.button.cavistes {
	background-image: url(../images/cavistes.png);

}

.button.cavistes:hover {
	opacity: 0.7;
}

.button.boulangers {
	background-image: url(../images/boulangers.png);
}

.button.boulangers:hover {
	opacity: 0.7;
}

.col-1-5 {
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  background-color: #000000;
  padding-top: 10px;
  width: 97%;
}

.case {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 20px;
  width: 17%;
}

.case:hover {
  display: inline-block;
  color: black;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  width: 17%;
}

.home {
  background-color: #4CAF50;
  color: black;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  width: 17%;
}

.home:hover {
  background-color: #FFFFFF;
  color: #000000;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  width: 17%;
}