
/*----------------------------
--------PAGE ACCUEIL----------
----------------------------*/

.pageAccueil {font-family: 'font'}

/*----------------------------
------------SLIDER------------
----------------------------*/


.slider.content{
  max-width: 1270px;
  position: relative;
  display: block;
  margin: auto;
}

.mySlides{
	max-height: 230px;
	display: block;
}

.slider img{
  	width: 100%;
  	height: 100%;
  	display: block;
}


/*----fleches---*/

.fleche_gauche, .fleche_droite {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  top: 35%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.fleche_droite {right: 0}

.fleche_gauche:hover, .fleche_droite:hover {
  background-color: rgba(0,0,0,0.8);
}



/*----------------------------
-----TEXT DESCRIPTION---------
----------------------------*/

.terroir{
	margin: auto;
	display: block;
	color: #000000;
	font-family: 'titre';
}

.terroir h2 {
	font-size: 35px;
	width: inherit;
	height: 90px;
	font-weight: bold;
	text-align: center;
}

.terroir p {
	font-size: 20px;
	width: inherit;
	height: 90px;
	text-align: justify;
}


/*----------------------------
--------BUTTON COMMERCE-------
----------------------------*/

.rubriqueButton{
	width: inherit;
	display: flex;
	flex-flow: row wrap;
	margin-right: 10px;
  	margin-bottom: 15px;
  	margin-top: 20px;
  	margin-left: 10px;
}

.button  {
	cursor: pointer;
	font-weight: bold;
	border-radius: 12px;
  	border: none;
  	display: block;
  	margin: auto;
  	margin-bottom: 20px;
  	height: 200px;
	width: 200px;
	align-items: center;
}

.texte {
	width: inherit;
	color: #ffffff;
	font-size: 28px;
	align-items: center;
	text-align: center;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}


.primeurs {background-image: url(../images/metier/primeurs.png)}
.rotissiers {background-image: url(../images/metier/rotissiers.png)}
.poissonniers {background-image: url(../images/metier/poissonniers.png)}
.fromagers {background-image: url(../images/metier/fromagers.png)}
.epiciers {background-image: url(../images/metier/epiciers.png)}
.traiteurs {background-image: url(../images/metier/traiteurs.png)}
.bouchers {background-image: url(../images/metier/bouchers.png)}
.cavistes {background-image: url(../images/metier/cavistes.png)}
.boulangers {background-image: url(../images/metier/boulangers.png)}

.button:hover {opacity: 0.8}
.anchor{text-decoration: none}
.text:link{text-decoration: none}
