/*
Ci-dessous, description global des li puis des h1
*/

main {margin: 32px 0px 50px 0px}

li {list-style-type: none}	/*pas de points ou autres decorations avant chaque element de la liste*/

h2, h1 {text-transform: uppercase}	/*titre tranformés en majuscules*/

.separation {
	border-top: 1px solid grey;
	margin: 50px 0px 50px 0px;
	width: inherit;
}

/*
ci dessous, css spécifique à la page commercants
*/
#headerCommerce {
	width : inherit;
	padding : 32px 0% 32px 0%;
	background : url(./../images/manege/1.png) center repeat-x;
}
.listeCommerces li a, #headerCommerce h1 {
	color : white;
  	text-shadow: 0px 0px 5px rgba(15, 50, 15, 0.9);	/* generateur : https://css3gen.com/text-shadow/ */
  	text-align: center;
}





.listeCommerces a {
	text-decoration : none;
	color : black;
	font-size : 15px;
}

.commerces a {
 	color : rgb(245, 180, 0);
 	font-weight : bold;
 }

.commerces a:hover {font-size : 18px}

.listeCommerces li {margin : 10px 0px 10px 0px} 

.listeCommerces li a { 
	background-color: rgba(32, 50, 32, 0.5);
	font-size : 20px;
}

.buttonprimeurs {background: url(../images/metier/primeurs.png) center no-repeat}
.buttonprimeurs:hover {opacity: 0.8; font-size : 18px;}


.buttonrotissiers {background: url(../images/metier/rotissiers.png) center no-repeat}
.buttonrotissiers:hover {opacity: 0.8; font-size : 18px;}

.buttonpoissonniers {background: url(../images/metier/poissonniers.png) center no-repeat}
.buttonpoissonniers:hover {opacity: 0.8; font-size : 18px;}

.buttonfromagers {background: url(../images/metier/fromagers.png) center no-repeat}
.buttonfromagers:hover {opacity: 0.8; font-size : 18px;}

.buttonepiciers {background: url(../images/metier/epiciers.png) center no-repeat}
.buttonepiciers:hover {opacity: 0.8; font-size : 18px;}

.buttontraiteurs {background: url(../images/metier/traiteurs.png) center no-repeat}
.buttontraiteurs:hover {opacity: 0.8; font-size : 18px;}

.buttonbouchers {background: url(../images/metier/bouchers.png) center no-repeat}
.buttonbouchers:hover {opacity: 0.8; font-size : 18px;}

.buttoncavistes {background: url(../images/metier/cavistes.png) center no-repeat}
.buttoncavistes:hover {opacity: 0.8; font-size : 18px;}

.buttonboulangers {background: url(../images/metier/boulangers.png) center no-repeat}
.buttonboulangers:hover {opacity: 0.8; font-size : 18px;}

/*.listeCommerces li {width : 10%; height: auto;}*/

@media screen and (max-width: 580px) {.listeCommerces li {width: 30%}}
@media screen and (min-width: 581px) and (max-width: 999px) {.listeCommerces li {width: 21%}}
@media screen and (min-width: 1000px) {.listeCommerces li {width: 10%}}







.commerces h2 {text-align: center}
#desc, #Commercemail, #Commercetel {color : grey}
#prop {font-weight : bold}

.listeCommerces{
	display: flex;			
	flex-flow: row wrap;	
	justify-content: space-around;	
	align-items: center;
	width : inherit;		
}


.parentCommerce {
	display: flex;			/*tous les blocs (li)s'alignent s'il le peuvent*/
	flex-flow: row wrap;	/*row : allignement horizontal, wrap : les blocs se mettent les uns en dessous des autres en cas de manque de place (responsive web)*/
	justify-content: space-around;	/*espacement entre chaque div et avant et après*/
	align-items: center;
	width : inherit;		/*l'épaisseur de cette box dépend de la box la contenant*/
}

.commerces {
	border-color: rgb(32,32,32);
	border-width: 1px;
	border-radius: 12px;
	border-style: dashed;
	text-align: center;
	text-transform: justify;
	margin : 10px 0px 0px 10px;
}

@media screen and (max-width: 480px) {.commerces {width: 45%}}
@media screen and (min-width: 481px) and (max-width: 919px) {.commerces {width: 30%}}
@media screen and (min-width: 920px) {.commerces {width: 300px}}



/*temporaire */
.listeCommerces li {
	min-height: 100px;
	min-width: 100px;
	text-align: center;
}