.actualite{
	width: inherit;
	text-align: center;
	text-transform: justify;
	margin : 10px 0px 0px 10px;
}

.titrearticle{
	border-bottom: 2px solid;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

.imagearticle{
	text-align: center;
}

.contenuarticle{
	text-align: justify;
	font-size: 20px;
	display: flex;			
	flex-flow: row wrap;	
	justify-content: space-around;
	align-items: center;

}

.piedarticle{
	background-color: grey;
	font-style: italic;
	padding: 1px 1px 1px 1px;
	text-align: right;
}