.whoweare {
	font-family: 'font';
	font-size: 18px;
}

.whoweare h2 {
	font-family: 'titre';
	color: rgb(32, 50, 32);
}

.whoweare ul {
	display: flex;			
	flex-flow: row wrap;	
	justify-content: space-around;	
	align-items: center;
}

/*
.parking li {
	list-style-type: square;
	display: block;
}
*/

.liste p {padding-left: 15px}

.whoweare .liste:nth-child(1) h3 {
	padding: 20px 0px 0px 50px;
	background: url('../images/icones/ananas.png') no-repeat 0 0%;
}
.whoweare .liste:nth-child(2) h3 {
	padding: 20px 0px 0px 50px;
	background: url('../images/icones/abricot.png') no-repeat 0 0%;
}
.whoweare .liste:nth-child(3) h3 {
	padding: 20px 0px 0px 50px;
	background: url('../images/icones/asperge.png') no-repeat 0 0%;
}
.whoweare .liste:nth-child(4) h3 {
	padding: 20px 0px 0px 50px;
	background: url('../images/icones/piment.png') no-repeat 0 0%;
}
.whoweare .liste:nth-child(5) h3 {
	padding: 20px 0px 0px 50px;
	background: url('../images/icones/viande.png') no-repeat 0 0%;
}