/* Halle au frais css */


h1 {text-transform : capitalize}

.whoweare h1 {text-align: center}

.whoweare li {
	list-style : none;
	text-align : center;
}

@media screen and (min-width: 480px) {.whoweare .saisie {width : 385px}}
@media screen and (max-width: 480px) {.whoweare .saisie {width : 100%}}

.whoweare .msg {width : 100%}

.slider.content{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides{
	max-height: 200px;
  	display: none;
}

.slider img{
  	width: 100%;
  	height: 100%;
  	display: block;
}

.fleche_gauche, .fleche_droite {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.fleche_droite {
	right: 0;
}

.fleche_gauche:hover, .fleche_droite:hover {
  background-color: rgba(0,0,0,0.8);
}

.button {
	cursor: pointer;
	border-radius: 4px;
	font-size: 28px;
	font-style: bold;
  	color: #000000;
  	text-align: center;
  	border-radius: 6px;
  	border: none;
  	padding: 15px;
  	height: 200px;
  	width: 200px;
  	display: inline-block;
  	margin: auto;
}

.l1{
	margin-top: 15px;
	margin-bottom: 5px;
}

.colonne {
	margin-left: auto;
	margin-right: auto;
	width: 610px;
}

.texte {
	color: #ffffff;
	font-weight: bold;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.button.primeurs {
	background-image: url(primeurs.png);
}

.button.primeurs:hover {
	opacity: 0.8;
}

.button.rotissiers {
	background-image: url(rotissiers.png);

}

.button.rotissiers:hover {
	opacity: 0.7;
}

.button.poissonniers {
	background-image: url(poissonniers.png);

}

.button.poissonniers:hover {
	opacity: 0.7;
}

.button.fromagers {
	background-image: url(fromagers.png);

}

.button.fromagers:hover {
	opacity: 0.7;
}

.button.epiciers {
	background-image: url(epiciers.png);

}

.button.epiciers:hover {
	opacity: 0.7;
}

.button.traiteurs {
	background-image: url(traiteurs.png);

}

.button.traiteurs:hover {
	opacity: 0.7;
}

.button.bouchers {
	background-image: url(bouchers.png);

}

.button.bouchers:hover {
	opacity: 0.7;
}

.button.cavistes {
	background-image: url(cavistes.png);

}

.button.cavistes:hover {
	opacity: 0.7;
}

.button.boulangers {
	background-image: url(boulangers.png);
}

.button.boulangers:hover {
	opacity: 0.7;
}

.menu.content1 {
    list-style-type: none;
    display: block;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 50%;
}

img {
    display: block;
    margin-left: 550px;
    top: 0px;
    width: 10%;
    position: fixed;
}

.menu.content2 {
    list-style-type: none;
    display: block;
    margin-left: 685px;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 50%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FFFFFF;
    color: #000000;
}

.active {
    background-color: #4CAF50;
}

.texte {
    padding:20px;
    margin-top:80px;
    margin-left: 40px;
    margin-right: 40px;
    background-color:#A9A9A9;
    height:200px;
    text-align: center;
}