header nav {background-color: rgba(190, 220, 0 , 0.5)}	/**/

header a {
	text-transform : uppercase;
	color: black;
	text-align: center;
	text-decoration : none;
	font-family: 'titre';
	/*text-decoration : overline underline;*/
}

/*
@media screen and (min-width: 1000px) and (max-width: 1199px)  {#headerParent {padding : 0% 5% 0% 5%}}
@media screen and (min-width: 1200px) and (max-width: 1399px)  {#headerParent {padding : 0% 10% 0% 10%}}
@media screen and (min-width: 1400px) and (max-width: 1599px)   {#headerParent {padding : 0% 15% 0% 15%}}
@media screen and (min-width: 1600px)	{#headerParent {padding : 0% 20% 0% 20%}}*/

header nav ul {max-width: 800px; margin: auto;}

/*header nav {width: inherit}*/

header nav a {
	border-width: 1px 0px 1px 0px;
	border-style: solid none solid none;
	border-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 20%;
	font-size: 16px;
}

header nav li:nth-child(3) a {border-style: hidden}

header nav a:hover {color: green; border-color: green;}

@media screen and (max-width: 660px) {
  header nav li:nth-child(3) {display : none}
  header li {padding: 50px 0px 50px 0px}
  #LogoMobile {display: block}	/*visibility : visible;*/
}
@media screen and (min-width: 661px) {#LogoMobile {display: none}}


#headerParent {
	display: flex;			/*tous les blocs (li)s'alignent s'il le peuvent*/
	flex-flow: row;	/*row : allignement horizontal, wrap : les blocs se mettent les uns en dessous des autres en cas de manque de place (responsive web)*/
	justify-content: space-around;	/*espacement entre chaque div et avant et après*/
	align-items: center;
	width : inherit;		/*l'épaisseur de cette box dépend de la box la contenant*/
}


