/*----------------------------
------------FOOTER------------
----------------------------*/

.footer{
	color: #FFF;
	background-color: #333;
}

.TheFooter .home {font-size: 20px}
.TheFooter {font-family: 'font'}
.TheFooter h2, .TheFooter h3 {font-family: 'titre'}
.TheFooter div {margin: auto}
.TheFooter img {width: 100px; height: 100px}

.TheFooter ul {
	display: flex;		/*technique de display puissante permettant de faire en gros les mêmes choses que simplegrid*/
	flex-flow: row wrap;	/*row pour alignement horizontal, wrap pour retour à la ligne*/
	justify-content: space-around;		/*espacement entre chaque div et avant / après les divs*/
	align-items: center;
}

/* style du premier élément correspondant au contact et à l'adresse*/
.TheFooter div:nth-child(1) p {font-size: 17px}
/* style du second élément, correspondant aux icones de FB / Mail / map*/
.TheFooter div:nth-child(2) {	/*ajout de bordures exclusivement pour le second element, de chaques cotés*/
	border-width: 0px 1px 0px 1px;
	border-style: none dashed none dashed;
	border-color: rgb(100, 135, 0);
}
/* style div admin et copyright*/
.TheFooter div:nth-child(3) {text-align: right}

@media handheld, only screen and (max-width: 767px) {		/*pour un petit écran, les propriétés précédentes sont écrasés pour celles-ci*/
	.TheFooter div:nth-child(2) {	
		border-width: 1px 0px 1px 0px;
		border-style: dashed none dashed none;
		border-color: rgb(100, 135, 0);
	}
}

/*
icones : http://fr.tuto.com/blog/2016/03/icones-reseaux-sociaux.htm
*/
