/*---------------------
--------Article--------
---------------------*/


/* Général */
.actualite{
	width: inherit;
	text-align: center;
	text-transform: justify;
	margin : 10px 0px 0px 10px;
	font-family: 'font';
}


/*titre*/
.titrearticle{
	border-bottom: 2px solid;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	font-family: 'titre';
}

/*image*/
.imagearticle{text-align: center}

/*Content*/
.contenuarticle{
	text-align: justify;
	font-size: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

}

/*footer article*/
.piedarticle{
	background-color: #323232;
	font-style: italic;
	padding: 1px 1px 1px 1px;
	text-align: right;
}

/*lien pied de page*/
.home {
	text-transform : uppercase;
	color: black;
	text-decoration : none;
	font-family: 'font';
}

@media screen and (max-width: 767px){
	.crop img {
	    margin: 0 0 0 -800px;
	}
}
