
/*----------------------------
--------PAGE COMMERCE---------
----------------------------*/


/* header */
#headerCommerce {
	width : inherit;
	padding : 32px 0% 32px 0%;
	background : url(./../images/banner/banner1.jpg) center;
	max-width: 1200px;
	margin: auto;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9),  0px 0px 3px rgba(0, 0, 0, 1),  0px 0px 1px rgba(0, 0, 0, 1);	/* generateur : https://css3gen.com/text-shadow/ */
}

/*definitions générales*/
.listeCommerces li a, #headerCommerce h1 {
	color : white;
  	/*text-shadow: 0px 0px 5px rgba(15, 50, 15, 0.9);	/* generateur : https://css3gen.com/text-shadow/ */
  	text-align: center;
}

#pageCommercants {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


/*----------------------------
-------LISTE COMMERCES--------
----------------------------*/

/* définition de chaques éléments */
.listeCommerces{
	width: 100%;
	max-width: 700px; /*Limitation de la largeur effective notamment en version ordinateur*/
	margin: 0 auto;
	padding: 0px;
	display: flex;		/*technique de display puissante permettant de faire en gros les mêmes choses que simplegrid*/
	flex-flow: row wrap;	/*row pour alignement horizontal, wrap pour retour à la ligne*/
	justify-content: space-between;	/*space-between = espace entre chaques éléments, mais pas entre les éléments et les bordures de la div -> space-around*/
	align-items: center;
}

.listeCommerces li {
	max-height: 120px;
	max-width: 120px;
	text-align: center;
	margin : 10px 0px 10px 0px
}

/* définition des links */
.buttonListShop {
	background-size: cover;
	height: 120px;
	width: 120px;
}
.buttonListShop:hover {opacity: 0.8}



/*----------------------------
----------COMMERCES-----------
----------------------------*/

/*-----div contenant tous les commerces*/
.parentCommerce {
	display: flex;			/*tous les blocs (li)s'alignent s'il le peuvent*/
	flex-flow: row wrap;	/*row : allignement horizontal, wrap : les blocs se mettent les uns en dessous des autres en cas de manque de place (responsive web)*/
	justify-content: space-around;	/*espacement entre chaque div et avant / après les divs*/
	align-items: center;
	width: inherit;		/*l'épaisseur de cette box dépend de la box la contenant*/
	margin: 5px 0px 32px 0px;
}

/*----div de description de chaque commerce*/
.commerces {
	border-color: rgb(32,32,32);
	border-width: 1px;
	border-radius: 12px;
	border-style: dashed;
	text-align: center;
	text-transform: justify;
	margin : 10px 0px 0px 10px;
	width : 280px;
}
.commerces h2 {text-align: center}

.commerces a {
 	color : rgb(245, 180, 0);
 	font-weight : bold;
 }
.commerces a:hover {font-size : 18px}

/*-----class des différents éléments de chaques divs*/
#desc, #Commercemail, #Commercetel {color : grey}
#prop {font-weight : bold}

