

/*----------------------------
------------HEADER------------
----------------------------*/

#headerParent {
	display: flex;			/*tous les blocs (li)s'alignent s'il le peuvent*/
	flex-flow: row;	/*row : allignement horizontal, wrap : les blocs se mettent les uns en dessous des autres en cas de manque de place (responsive web)*/
	justify-content: space-around;	/*espacement entre chaque div et avant et après*/
	align-items: center;
	width : inherit;		/*l'épaisseur de cette box dépend de la box la contenant*/
}

@media screen and (max-width: 660px) {#LogoMobile {display: block}}	/*visibility : visible;*/
@media screen and (min-width: 661px) {#LogoMobile {display: none}}