@media screen and (min-width: 480px) {.whoweare .saisie {width : 385px}}
@media screen and (max-width: 480px) {.whoweare .saisie {width : 100%}}

.titrearticle{
	background-color: #db8a00;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

.imagearticle{
	text-align: center;
}

.contenuarticle{
	text-align: justify;
	font-size: 25px;
}

.piedarticle{
	background-color: #db8a00;
	font-style: italic;
	padding: 1px 1px 1px 1px;
	text-align: right;
}