/* ci dessous le reset CSS -----------------------------------------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 rest pour les vieux navigateurs*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}












/* polices -----------------------------------------------------------------------------------------------------------------------------------*/
@font-face
{
    font-family: 'font';
    src: url('font/GeosansLight.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'titre';
    src: url('font/source-code-pro-light.otf');
    font-weight: normal;
    font-style: normal;
}








/*body {background-color: #BCD11A}*/

.content{
	width: 100%;
	border: 1px;
	border-style: dotted;
	border-color: red;
}


/*
.logo {
	background:  url("img/logo-halle.png") no-repeat center;
	background-size: contain;
}*/

.menu {
	background-color: rgba(38,38,38,1);
	width: 100%;
}

.menu, .logo{
	height: 100px;
}

li {
	color: #BCD11A;
	text-transform: uppercase;
	font-family: 'font';
}

li img{
	max-height: 100px;
}

@media handheld, only screen and (min-width: 767px) {
	/*.menu, .logo{
		position: absolute;
		width: 100%;
	}
	.logo{z-index: 1}
	.menu{z-index: 0}*/
	.logo {display: none}
	header {}
	ul {
		display: inline-flex;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		flex-direction: row;
	}
	li {
		width: 100%;
		text-align: center;
		/*vertical-align: middle;*/
		line-height: 100px;
	}
}
@media handheld, only screen and (max-width: 767px) {
	ul {
		width: 100%;
		height: 100%;
		justify-content: space-between;
	}
	li {
		width: 100%;
		text-align: center;
	}
	li img {
		display: none;
	}
}


.art {
	background: #BCD11A;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

.art:nth-child(2) {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
}

a {float: right}

.commercants h1 {
	width: 100%;
	text-transform: uppercase;
	background-color: rgba(38,38,38,1);
	color: #BCD11A;
	font-family: 'font';
	padding: 10px;
	text-align: center;
}
.pres {
	background-color: rgba(38,38,38,1);
	color: #BCD11A;
	font-family: 'titre';
	height: 100px;
	padding: 10px;
}
.pub {
	background: #E0E0E0;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

.pub img {margin : auto}

footer {text-align: center}

/*

	border:1px;
	border-color: red;
	border-style: dotted;

*/